altgraph==0.17
click==7.1.2
colorama==0.4.4
future==0.18.2
loguru==0.5.3
pefile==2019.4.18
pyinstaller==4.1
pyinstaller-hooks-contrib==2020.10
PyQt5==5.15.1
pyqt5-plugins==5.15.1.1
PyQt5-sip==12.8.1
pyqt5-tools==5.15.1.2
python-dotenv==0.15.0
pywin32-ctypes==0.2.0
qt5-applications==5.15.1.1
win32-setctime==1.0.3
